/*nice color set https://kuler.adobe.com/#themeID/248138*/

/**
 * 0.RESET
 */

@import "reset.css";
@import "foundation.css";
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@import "menu.css";
/**
 * 1.GLOBAL
 */

body {
    background: #fff;
    color: #222;
    font-family: 'Droid Arabic Naskh',"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Droid Arabic Naskh',"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    /*text-shadow: 3px -1px 2px rgba(150, 150, 150, 1);*/
    /*text-shadow: 2px 1px 3px rgba(150, 150, 150, 0.95);*/
}

h1, .h1 {
    font-size: 2em;
    line-height: 1.5;
    margin-top: -0.25em;
}

h2, .h2 {
    font-size: 1.5em;
    line-height: 1;
    margin-top: 1em;
}

h3, .h3 {
    font-size: 1.25em;
    line-height: 1.2;
    margin-top: 1.2em;
}

h4, h5, h6, .h4, .h5, .h6 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 0.5em;
}

p {
    font-size: 1em;
    line-height: 1.5;
    /*margin: 0 0 1.5em 0;*/
    margin: 0 0 1em 0;
}

a { color: #000; text-decoration: none; }

/*a:visited { color: #309; }*/

a:hover, a:active, li a.active  { color: #39f; }

a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }

/* apply common styling after reset.css */

li ul, li ol {  margin: 0; }
ul, ol {  margin: 0 1.5em 1.5em 0;  padding-right: 1.5em; }
ul {  list-style-type: disc; }
ol {  list-style-type: decimal; }
dl {  margin: 0 0 1.5em 0; }
dl dt {  font-weight: bold; }
dd {  margin-right: 1.5em; }
hr {  background: #666;  border: none;  clear: both;  float: none;  height: 1px;  margin: 0 0 1.4375em;  width: 100%; }
fieldset {  border: 1px solid #ccc;  margin: 0 0 1.4375em;  padding: 1.5em; }
table {  margin-bottom: 1.5em;  width: 100%; }
th, tr, td {  vertical-align: middle; }
th { padding-left: 1em; }
.sticky-header th, .sticky-table th {  border-bottom: 3px solid #ccc;  padding-left: 1em;  text-align: right; }

#header {
    margin: 0;
    position: relative;
}

/***/
/** 9.BLOCKS*/
/**/

.block {
    margin-bottom: 1.5em;
}

.block .view-footer{
    margin: 0.5em 0 0;
    float: left;
}


ul.slides li{position: relative;}
ul.slides li div.slider-content.flex-caption {
    background:none;
    /*-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
    zoom: 1;}
ul.slides li div.slider-content.flex-caption {
    z-index:10;
    margin: 0;
    width: 100%;
    padding: 1%;
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;}
ul.slides li div.slider-content.flex-caption h3 a{
    color : #fff;
    font-weight: bold;
    padding-bottom: 3%;
}
.flex-viewport{
    direction:ltr;
}
.flexslider .slides >li{
    text-align:right;
    direction:ltr;
}

.th{display: block;}
/* clear floats */
.clear { clear: both; }

/* display block */
.display-block { display: block; }
.th.radius{text-align: center;}
.secondary-news{border-bottom: 1px solid #dddccc;padding:0 0 0.5em 0;}
.views-row-last .secondary-news{border:0px;}
h2.block-title:before,.front h2.pane-title:before{content: '»';padding: 0 0.2em 0;}
h2.block-title,.front h2.pane-title{
    margin: 0.2em 0;
    padding:0.5em 0.5em 0.5em 0;
    text-shadow: 3px 1px 3px rgba(150, 150, 150, 0.95);
    background-color : #dcdcdc;
}

.front .view.view-content div.view-footer{
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
.front .view.view-content div.view-footer a{
    float: left;
}

.flexslider{margin-bottom: 0}
.field-label{padding:.5em 0;}

.border-bottom{border-bottom:1px solid #ddd;padding:.5em 0}

.views-row-last.row.border-bottom{border:0px;}

h2.news-title{margin: 0.5em 0 0.9em;}
/*.view-content{overflow: hidden;}*/
.view-content .large-12.columns.clearfix a{margin: 0.5em 0;float:left;}
.news-post-date{font-size: 0.7em;margin:0.5em;color: rgba(232, 8, 16, 0.79);display:inline;}

.news-post-date-label,
#post-date h2.pane-title{
    color:#000000;
    text-shadow:none;
    font-size:0.7em;
    margin:0.5em;
    display:inline;
    font-weight: bold;}

#post-date h2.pane-title{font-size:1em;}

.panel-pane{margin:0.5em 0;}
.panel-pane.pane-node-field-article-tags h2.pane-title,#post-date .pane-content{display: inline;padding: .5em;}
.center{text-align:center}

/*files inline data*/
.field.field-name-field-evening-events-tags .field-items .field-item:after,
.field.field-name-field-image-tags .field-items .field-item:after,
.field.field-name-field-caricature-tags .field-items .field-item:after,
.field.field-name-field-video-tags .field-items .field-item:after,
.field.field-name-field-classified-ads-tags .field-items .field-item:after,
.field.field-name-field-article-tags .field-items .field-item:after{content: '،';padding: 0 0.1em 0;}

.field .field-items .field-item{display:inline-block; padding: 1em 0.5em 0 0;}

div.author-name .field-item, div.author-name .field-label{display: inline;}

.field.field-type-file .field-items .field-item,
.field.field-type-image .field-items .field-item{display:block}

/*fileds labels*/
.field .field-label{color: #242840;font-weight: bold;margin:0.5em 0;} /*.6em 0.2em;*/


/*image for files types*/
.file.file-articles-photos div.content,
.field.field-name-field-caricature-img .field-items .field-item{text-align: center;}

/*li elements for the gallaries*/
li.photo-wrapper div.row{
    margin:0.5em;
    overflow: hidden;
    height: 100%;
    min-height: 100%;
}
li.photo-wrapper{
    display: table-cell;
}

.photos ul{display: table;}

div.sub-title a{font-size:80%;}
.slider-content.flex-caption.sub-title a{color:#fff;}
#block-views-sliders-block-3 .flex-control-nav{
    position: static;
}

ul.quicktabs-tabs.quicktabs-style-zen {
    margin: 5px 0 10px;
    height: 24px;
}

.views-exposed-form .views-exposed-widget {
    float: none;
    padding: .5em 1em 0 0;
}

input.form-submit {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 1.25em;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding-top: 0.75em;
    padding-left: 1.5em;
    padding-bottom: 0.8125em;
    padding-right: 1.5em;
    font-size: 1em;
    background-color: #c60f13;
    border-color:#970b0e;
    margin: 46px 0 0 1px;
    font-size: 12px;
    height: 31px;
    color: white; 
}

input[id^="edit-submit--"] {
    margin: 1px 0 0 1px; 
}

input.form-submit:hover, input.form-submit:focus {
    background-color: #970b0e; }
input.form-submit:hover, input.form-submit:focus {
    color: white; }

input.form-submit{
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out; }
input.form-submit:active {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; }
ul.elements,ul.menu{list-style: none;margin: 0;padding: 0;}

ul.menu li.leaf,li.element-li{padding: .5em 0; border-bottom: 1px solid #dddccc;cursor: pointer}

li.element-li a,ul.menu li.leaf a{display:block}

li.element-li:hover,ul.menu li.leaf:hover{padding-right:0.5em;background:#f6f6f6;}

ul li.leaf{list-style-type: none;list-style-image: none}


#footer ul.menu li.leaf{display:inline-block;border:none;padding:0 0.5em;}
#footer ul.menu li.leaf:hover{padding:0 0.5em;}

#footer .footer ul.menu li.leaf{display:block;border:none;padding:0.5em 0;margin:0.5em 0;}
#footer .footer ul.menu li.leaf:hover{padding:0.5em;}


.sf-menu.sf-style-none li.active-trail{background:#2ba6cb;background:transparent url('../img/menu_background.png') center top repeat-x ;}
.sf-menu.sf-style-none li.active-trail a.sf-depth-1,
.sf-menu li.active-trail span.nolink,
a.sf-depth-2.active{color:#fff;}

#footer{padding: 0.2em 0 0; border-top:1px solid #ccc;}

.button{
    background-color: #c60f13;
    border-color: #970b0e;
    color: white;
}
.button:hover, .button:focus {background-color: #970b0e; }
.button:hover, .button:focus {color: white; }
/*Wafaa added css for social buttons*/

section#block-block-3 {
    width: 69px;
    float: left;
    margin-bottom: -60px;
    margin-left: -53px;
}
.timelineLayout {
    background: none repeat scroll 0 0 #E7EBF2;
}
body {
    overflow-y: scroll;
}
body, button, input, label, select, td, textarea {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 16px;
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    direction: rtl;
    line-height: 1.28;
    margin: 0;
    padding: 0;
    text-align: right;
    unicode-bidi: embed;
}
/*Theming search form*/
form#search-block-form div.container-inline {
    float: left;
    margin: -124px 0 0 1px;
}
form#search-block-form div.form-item-search-block-form {
    float: right;
    margin-top: 45px;
}
form#search-block-form div#edit-actions--2 {
    float: left;
    margin-top: 44px;
}
div#date_of_day {
    float: left;
    margin: -27px 0 0 991px;
    width: 185px;
}
div#social_icons {
    float: left;
    margin: -101px 0 0 17px;
}
section#block-print-ui-print-links {
    margin: -501px -83px 0 0;
    width: 105px;
}
img.print-icon {
    width: 22px;
} 
div.pane-easy-social-easy-social-block-1 {
    /*margin: -149px 670px 0 0;*/
    width: 824px;
}
ul[id^="superfish-"] {
    margin-top: -99px; 
}
div.pane-views-articles-images-block {
    margin-top: 25px;
}
div.pane-node-field-ad-image {
    /*margin-top: 73px;*/
}

div.fb-share {
    float: left;
    /*margin: -149px 0 0 54px;*/
    width: 123px;
}
div.author-name {
    margin-top: 64px;
}
div.pane-views-articles-images-block-5 {
    margin-top: -84px;
    width: 621px !important;
}
